version: "3.8"

services:
  # --- Frontend services ---
  frontend1:
    image: amuzcategui/lab1-frontend:latest  
    restart: always
    networks:
      - frontend-network

  frontend2:
    image: amuzcategui/lab1-frontend:latest  
    restart: always
    networks:
      - frontend-network

  frontend3:
    image: amuzcategui/lab1-frontend:latest  
    restart: always
    networks:
      - frontend-network

  # --- Backend services ---
  backend1:
    image: amuzcategui/lab1:latest          
    restart: always
    environment:
      - DB_HOST=host.docker.internal        
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://host.docker.internal:9090/realms/sisgr-realm/protocol/openid-connect/certs # <-- CAMBIO 4
    networks:
      - backend-network

  backend2:
    image: amuzcategui/lab1:latest          
    restart: always
    environment:
      - DB_HOST=host.docker.internal         
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://host.docker.internal:9090/realms/sisgr-realm/protocol/openid-connect/certs # <-- CAMBIO 4
    networks:
      - backend-network

  backend3:
    image: amuzcategui/lab1:latest          
    restart: always
    environment:
      - DB_HOST=host.docker.internal        
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://host.docker.internal:9090/realms/sisgr-realm/protocol/openid-connect/certs # <-- CAMBIO 4
    networks:
      - backend-network

  # --- Nginx for frontend load balancing ---
  nginx-frontend:
    image: nginx:latest
    ports:
      - "8070:80" 
    volumes:
      - ./nginx-frontend.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend1
      - frontend2
      - frontend3
    networks:
      - frontend-network

  # --- Nginx for backend load balancing ---
  nginx-backend:
    image: nginx:latest
    ports:
      - "8090:8090" 
    volumes:
      - ./nginx-backend.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend1
      - backend2
      - backend3
    networks:
      - backend-network

networks:
  frontend-network:
  backend-network: